<h1>This is a website</h1>

  <form action="/login" method="POST" style="margin:150px;">
    <label for="longURL">Enter a URL:</label>
    <input id="name = " type="text" name="longURL" placeholder=""username"" style="width: 300px">
    <input type="submit" value="Submit">
  </form>