<h1>This is a website</h1>

<h2>
    <% if(username === undefined ) { %>
          <a href="/login/">Log In</a>
    <% }else { %>
      <form action="/logout" method="POST"
        <label for="logout">Username: <%=userID%><br>Email: <%=userEmail%></br>Password: <%=userPassword%> => </label>
        <input type="submit" value="Log Out">
      </form>
    <% } %>



</h2>