<h1>Romel's Tiny App</h1>

<h2>
    <% if(cookie === undefined ) { %>
      <br><a href="/register/">Register</a></br>
      <a href="/login/">Log In</a>
    <% }else { %>
      <form action="/logout" method="POST"
        <label for="logout">user_id: <%=user_id%></label>
        <br>Email: <%=user_email%></br>
        <input type="submit" value="Log Out">
      </form>
    <% } %>

</h2>