<DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<header>
  <% include partials/_header %>
</header>
<body>

  Test2
  <br></br>
  <br><b>Short URL =>  </b><%=shortURL%></br>
      <b>Long URL =>  </b><%=urls[shortURL]%></br>
  <br></br>

  </form>

  <form action="/urls/<%=shortURL%>/"  method="POST" style ="margin:300px;">


    <input id="LongURL" type="text" name="longURL" placeholder="<%=urls[shortURL]%>" style="width:500px;height:40px;font-size:30px">

    <input type="submit" value="Update" style="width:300px;height:40px;font-size:30px">

  </form>



</body>
</html>