<DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<header>
  <% include partials/_header %>
</header>
<body>


  <br><%=shortURL%></br>
  <br><%=urls[shortURL]%></br>


</body>
</html>