<DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<header>
<<<<<<< HEAD
  <% include partials/_header %>
=======
  <h1>Register:<h1>
>>>>>>> feature/cookies
</header>
<body>
  <br></br>
  <br></br>

  </form>

  <form action="/register/"  method="POST" style ="margin:300px;">

    <input id="email" type="email" name="email"
    placeholder="email"
    style="width:500px;height:40px;font-size:30px">

    <input id="password" type="password" name="password"
    placeholder="password"
    style="width:500px;height:40px;font-size:30px">

    <input type="submit" value="Submit" style="width:300px;height:40px;font-size:30px">

  </form>



</body>
</html>