<DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<header>
  <% include partials/_header %>
</header>
<body>


  <% Object.keys(urls).forEach( function ( url ){ %>

  <br><%= url%>: <%=urls[url]%></br>

  <% }); %>

  <br><a href="/">URL Shortener</a></br>

</body>
</html>